@import "tailwindcss";

@theme {
  --color-persian-blue-800: #003BE2;
  --color-electric-lime-200: #F2FF92;
  --color-electric-lime-400: #D4FB20;
  --color-electric-lime-500: #CBFC01;
  --color-electric-violet-50: #F5F2FF;
  --color-electric-violet-600: #7F30F7;
  --color-electric-violet-950: #300B6A;
  
  --color-shuttle-gray-50: #F5F5F6;
  --color-shuttle-gray-100: #E5E6E8;
  --color-shuttle-gray-200: #CED0D3;
  --color-shuttle-gray-300: #ABAEB5;
  --color-shuttle-gray-400: #82868E;
  --color-shuttle-gray-700: #4B4C53;
  --color-shuttle-gray-800: #424348;
  --color-shuttle-gray-900: #3A3B3F;
  --color-shuttle-gray-950: #242528;

  --color-black-100: #E7E7E7;
  --color-black-400: #888888;
  --color-black-700: #4F4F4F;
  --color-black-800: #454545;
  --color-black-950: #000000;

  --color-blue-stone-300: #64E4D0;

  --color-background: var(--color-shuttle-gray-50);
  --color-foreground: var(--color-black-950);

  --font-sans: var(--font-satoshi), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-satoshi: var(--font-satoshi), sans-serif;
  --font-logo: var(--font-clash-display), sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

